@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

* {
    padding: 0px;
    margin: 0px;

    color: white;

    font-family: 'Open Sans', sans-serif;
}

body {
    display: grid;
    place-items: center;

    background-color: rgb(17, 17, 17);
}

.user-card {
    background-color: rgba(255, 71, 71, 0.116);
    border: 2px solid rgb(255, 71, 71);

    width: 250px;

    position: none;
    height: max-content;

    display: flex;
    flex-direction: column;

    justify-content: center;

    padding: 1rem;

    text-align: center;
    margin: 15px;
}

.user-img {
    display: flex;

    justify-content: center;
    align-items: center;

    border: 2px solid rgba(255, 71, 71, 0.52);

    width: 250px;
    height: 250px;
}

.user-img p {
    opacity: 0;
    padding: 5px;
    transition: 0.8s;
}

.user-img:hover p {
    opacity: 1;
    transition: 0.6s;
}

.user-img img {
    position: absolute;

    width: 250px;
    height: 250px;

    transition: 1s;
}

.user-img:hover img {
    opacity: 15%;
    transition: 0.5s;
}

@keyframes teste {
    0% { height: 0%; }
    50% { height: 50%; }
    100% { height: 100%; }
  }

.flex {
    display: flex;
}