@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

* {
    padding: 0px;
    margin: 0px;

    zoom: 1.1;

    color: white;

    font-family: 'Open Sans', sans-serif;
}

body {
    display: grid;
    place-items: center;

    padding: 30px;

    background-color: rgb(17, 17, 17);
}

.discord-messages-container {
    max-width: 700px;
}

.discord-container {
    margin: 10px;

    display: flex;
    flex-direction: row;

    padding: 10px;

    border: 1px solid rgb(255, 71, 71);

    background-color: rgba(255, 71, 71, 0.048);
}

.discord-container h1 {
    font-size: 27px;
}

.discord-avatar {
    width: 70px;
    height: 70px;

    border: 2px solid rgb(255, 71, 71);
    border-radius: 50%;

    margin-right: 15px;
}

.discord-user-info {
    display: flex;
    flex-direction: column;
}

.discord-user-info h1 {
    color: rgb(253, 89, 89)
}

.discord-user-tags{
    margin-top: 15px;
}

.tag {
    background-color: rgba(255, 71, 71, 0.205);
    border: 1px solid rgb(255, 71, 71);
    padding: 1px 7px 1px 7px;
    margin: 5px;
    margin-left: 0px;
}

#main-page-link {
    text-decoration: none;
}
