:root {
    --nium-avatar: "file://nium-avatar.gif"
}

body {
    background-color: #17181d;
    /* background-image: url("https://cdn.pixabay.com/photo/2013/07/12/12/30/mosaic-145830_960_720.png"); */
    background-repeat: round;
    color: white;
    width: 99%;
    display: flex;
    justify-content: center;
    font-family: 'Roboto Mono', monospace;
}

html {
    scroll-behavior: smooth;
}

blockquote {
    border-top: 1px solid #FF6266;
    border-bottom: 1px solid #FF6266;
    margin: auto;
    background-color: #ff62670c;
    text-align: center;
}

blockquote p:first-of-type:before{
    content: ">";
    left: -50px;
    position: relative;
    color: #FF6266;
}

code {
    color: #FF6266;
    background-color: #ff626725;
    font-family: 'Ubuntu Mono', monospace;
    font-size: 23px;
}

a {
    color: white;
}

p {
    margin-left: 10px;
}

ul {
    list-style: none;
    padding: 0;
    font-size: 20px;
}

ul li {
    padding: 10px;
}

h1 {
    font-size: 25px;
}

h2 {
    font-size: 23px
}

h1:hover::before, h2:hover::before, ul li:hover::before{
    content: '#';
    color: #FF6266;
    display: inline-block;
}

h1 > a, h2 > a{
    margin-left: 10px;
    text-decoration: none;
}

h1:hover > a, h2:hover > a{
    text-decoration: underline;
    background-color: #ff626721;
}

ul li::before {
    content: "-";
    color: #FF6266;
}

li p {
    margin-left: 25px;
}

#footer {
    margin-top: 150px;
    border-top: 1px solid #ff626717;
    text-align: center;
    bottom: 0;
    width: 100%;
}

#footer a {
    color: #FF6266; text-decoration: none;
}

#main-container {
    /* border: 2px outset #FF6266; */
    border-top-style: none;
    border-bottom-style: none;
    width: 800px;
    padding-top: 5;
    padding-left: 45;
    padding-right: 45;
}

#page-title {
    display: flex;
    font-size: 35px;
}

#page-title #text {
    padding: 3px;
    text-align: center;
    width: auto;
    color: black;
    background-color: #FF6266;
}

#page-title #bars {
    color: transparent;
    width: 100%;
    background: repeating-linear-gradient(90deg, #FF6266, #FF6266, transparent 5px, transparent 12px);
}

#menu {
    margin: 10px;
    margin-left: 0;
    margin-right: 0;
    display: flex;
    justify-content: space-between;
}

#menu li {
    display: inline-block;
}

.container {
    padding-left: 15px;
    padding-right: 15px;
    margin-top: 15px;
    border: 1px solid #FF6266;
    background-color: #15161d;
}

.category-title {
    padding-bottom: 7px;
    border-bottom: 2px dashed #FF6266;
    text-align: center;
}

.sub-categorie-title {
    padding-bottom: 7px;
    border-bottom: 2px solid #FF6266;
    margin-left: 150px;
    margin-right: 150px;
    border-width: 50%;
    text-align: center;
}

.discord-message-container {
    margin: 15px;
    display: flex;
}

.discord-message-container img {
    padding: 0px;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    
}

.discord-message-container h3, h5 {
    display: inline-block;
    margin: 0px;
    margin-left: 15px;

}

.discord-message-container h5 {
    opacity: 25%;
    margin-left: 10px;
    
}

#discord-message {
    margin: 0px;
    margin-left: 15px;
}

#discord-username {
    color: #FF6266;
    content: "Hoje";
}

.dropdown {
    display: block;
}

.dropdown label {
    opacity: 25%;
    font-size: 25px;
    content: "oi"
}

.dropdown label::after {
    content: "Clique e saiba mais!";
}

.dropdown:hover > label {
    opacity: 75%;
    content: "arroz";
}

.dropdown input[type=checkbox] {
    visibility: hidden;
}

.dropdown input[type=checkbox]:checked~ .dropdown-container {
    display: none;
}
