<!DOCTYPE html5>



<html lang="pt-br">
    <head>
        <title>Marjorie!</title>
        <meta charset="utf-8">
        <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/main.css')}}"/>
        <link href="https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Ubuntu+Mono&family=VT323&display=swap" rel="stylesheet">
    </head>

    <body>
        <div id="main-container">
            <div id="page-title">
                <div id="text"><strong>Marjorie</strong></div>
                <div id="bars"></div>
            </div>

            <ul id="menu">
                <li><a href="#about">Sobre</a></li>
                <li><a href="#commads">Comandos</a></li>
                <li><a href="#contact">Contato</a></li>
            </ul>

            <div class="discord-message-container">
                <img src="{{nium_avatar}}">
                <div>
                    <h3 id="discord-username">Nium</h3><h5>18/09/2020</h5>
                    <p id="discord-message">Eu ainda estou fazendo este site e eu sou horrível com front-end, se você ver qualquer problema, nos avise!</p>
                </div>
            </div>
            
            <div class="discord-message-container">
                <img src="{{marjorie_avatar}}">
                <div>
                    <h3 id="discord-username">Marjorie</h3><h5>18/09/2020</h5>
                    <p id="discord-message">Não só no site! Mas se você encontrar qualquer problema em mim (nos meus sistemas), entre no meu servidor (através do comando <code>;suporte</code> ou clique em contato, um pouco pra cima!) e nos avise!</p>
                </div>
            </div>

            <h1 id="about" class="category-title"><a href="#about">Sobre</a></h1>
            <p>Eu sou um BOT focado em diversão, utilidades e entretenimento para as pessoas do Discord!<br>
            <br>
            Aqui no meu site você pode ver todos os meus comandos, sistemas e até entrar em contato com a minha equipe!<br></p>

            <h1 id="commands" class="category-title"><a href="#commands">Comandos</a></h1>
            <p>Eu possuo diversos comandos, então eu separei eles em categorias para você poder procurar melhor!</p>

            <div class="dropdown">
                <input id="1" type="checkbox" checked="checked">
                <label for="1"></label>
                <div class="dropdown-container">
                    <h2 class="sub-categorie-title"><a>Social</a></h2>
                    <p>Socialize com o pessoal do servidor!</p>
                    <div class="dropdown">
                        <input id="2" type="checkbox" checked="checked">
                        <label for="2"></label>
                        <div class="dropdown-container">
                            <div class="container">
                                <ul>
                                    <li>
                                        <a>
                                            <strong>;ship </strong><code>&lt;membro um> &lt;membro dois></code>
                                        </a>
                                        <p>Veja a porcentagem do amor entre duas pessoas!</p>

                                    </li>

                                    <li>
                                        <a>
                                            <strong>;kiss </strong><code>&lt;membro></code>
                                        </a>
                                        <p>De um beijinho em alguém!</p>
                                    </li>

                                    <li>
                                        <a>
                                            <strong>;slap </strong><code>&lt;membro></code>
                                        </a>
                                        <p>De um tapa em alguém!</p>
                                    </li>

                                    <li>
                                        <a>
                                            <strong>;pat </strong><code>&lt;membro></code>
                                        </a>
                                        <p>Faça carinho em alguém!</p>
                                    </li>

                                    <li>
                                        <a>
                                            <strong>;hug </strong><code>&lt;membro></code>
                                        </a>
                                        <p>De um abraço beem forte em alguém!</p>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>

                    <h2 id="anything" class="sub-categorie-title"><a href="#anything">Anything</a></h2>
                    <p>Qualquer coisa que não seja relacionada a entreterimento.</p>
                    <div class="dropdown">
                        <input id="3" type="checkbox" checked="checked">
                        <label for="3"></label>
                        <div class="dropdown-container">
                            <div class="container">
                                <ul>
                                    <li>
                                        <a>
                                            <strong>;suporte</strong>
                                        </a>
                                        <p>Entre no meu servidor e tire suas dúvidas, venha, você vai se divertir!</p>
                                    </li>

                                    <li>
                                        <a>
                                            <strong>;majorie</strong>
                                        </a>
                                        <p>Saiba mais sobre mim! tipo alguns detalhes técnicos.</p>
                                    </li>

                                    <li>
                                        <a>
                                            <strong>;invite</strong>
                                        </a>
                                        <p>Veja o meu link de convite para você poder me adicionar nos seus servidores!</p>
                                    </li>

                                    <li>
                                        <a>
                                            <strong>;votar</strong>
                                        </a>
                                        <p>Vote em mim e receba recompensas no sistema de duelo!</p>
                                    </li>

                                    <li>
                                        <a>
                                            <strong>;connection </strong><code>&lt;ID do usuário></code>
                                        </a>
                                        <p>Cria uma conexão com determinado usuário.</p>
                                        <blockquote>
                                            <p>Apenas desenvolvedores podem executar este comando.</p>
                                        </blockquote>

                                        <div class="discord-message-container">
                                            <img src="{{nium_avatar}}">
                                            <div>
                                                <h3 id="discord-username">Nium</h3><h5>18/09/2020</h5>
                                                <p id="discord-message">Futuramente este comando poderá ser utilizado no seu privado para que você entre em contato diretamente com alguém do suporte do servidor da Marjorie!</p>
                                            </div>
                                        </div>

                                        <div class="discord-message-container">
                                            <img src="{{marjorie_avatar}}">
                                                <div>
                                                    <h3 id="discord-username">Marjorie</h3><h5>18/09/2020</h5>
                                                    <p id="discord-message">Hmm...</p>
                                                </div>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>

                    <h2 class="sub-categorie-title"><a>Moderation</a></h2>
                    <p>Modere o seu servidor de forma fácil!</p>
                    <div class="dropdown">
                        <input id="4" type="checkbox" checked="checked">
                        <label for="4"></label>
                        <div class="dropdown-container">
                            <div class="container">
                                <ul>
                                    <li>
                                        <a>
                                            <strong>;ban </strong><code>&lt;ID do usuário></code>
                                        </a>
                                        <p>Bana um usuário do servidor ou fora!</p>
                                        <blockquote>
                                            <p>O BOT e o usuário que executou o comando devem ter a permissão <code>ban_members</code> para executar este comando.</p>
                                        </blockquote>
                                    </li>

                                    <li>
                                        <a>
                                            <strong>;kick</strong>
                                        </a>
                                        <p>Expulse quem não cumprir as regras!</p>
                                        <blockquote>
                                            <p>O BOT e o usuário que executou o comando devem ter a permissão <code>kick_members</code> para executar este comando.</p>
                                        </blockquote>
                                    </li>

                                    <li>
                                        <a>
                                            <strong>;mutar</strong>
                                        </a>
                                        <p>Mute as pessoas que falam demais...</p>
                                        <blockquote>
                                            <p>O BOT e o usuário que executou o comando devem ter a permissão <code>manage_roles</code> para executar este comando.</p>
                                            <p>É preciso definir um cargo para executar este comando. Veja o comando <code>;setar Muterole</code> para mais informações.</p>
                                        </blockquote>
                                    </li>

                                    <li>
                                        <a>
                                            <strong>;desmutar</strong>
                                        </a>
                                        <p>Desmute as pessoas que falaram demais...</p>
                                        <blockquote>
                                            <p>O BOT e o usuário que executou o comando devem ter a permissão <code>manage_roles</code> para executar este comando.</p>
                                            <p>É preciso definir um cargo para executar este comando. Veja o comando <code>;setar Muterole</code> para mais informações.</p>
                                        </blockquote>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <h1 id="contact" class="category-title"><a href="#contact">Contato</a></h1>
            <p>O Nium é bem bonito :D</p>

            <div id="footer">
                <p>A estilização e o site foi baseado neste <a href="https://github.com/panr/hugo-theme-terminal">tema</a> para fins de aprendizado! Tanto que, o mesmo foi construído da noite pro dia por alguém que não tinha conhecimento algum de front-end.</p>
            </div>
        </div>
    </body>

    

</html>
